@use "ag-grid-community/styles/ag-theme-material.css";
@use "../../sass/vars";
@use "../../sass/utils/mixins" as m;

.data-grid {
	overflow: hidden;

	.ag-row .ag-cell {
		display: flex;
		align-items: center;
	}

	img {
		max-width: 100%;
		height: auto;
		object-fit: cover;
		aspect-ratio: 1;
	}
}

.ag-theme-material-auto-dark {
	@include m.dark-theme {
		--ag-material-primary-color: var(--ant-color-primary);
		--ag-material-accent-color: var(--ant-blue-5);
		--ag-row-hover-color: var(--ant-blue-6);
	}
}
