@use "./vars";
@use "./utils/mixins" as m;

html {
	color-scheme: dark light;
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: vars.$clr-border-light;

	@media (prefers-color-scheme: dark) {
		background-color: vars.$clr-surface-dark;
	}
}

img {
	@include m.reset-img;
}

b {
	font-weight: 700;
}

#root {
	width: auto;
	height: 100vh;
	overflow: hidden;
}

.label {
	font-weight: vars.$fw-regular;
	color: var(--ant-color-text-secondary);

	&.label-sm {
		font-size: var(--ant-font-size-sm, vars.$fs-sm);
	}

	&.label-smooth {
		font-weight: vars.$fw-light;
	}
}

.output {
	font-weight: vars.$fw-regular;

	&.output-lg {
		font-size: var(---ant-font-size-lg, vars.$fs-lg);
	}

	&.output-xl {
		font-size: vars.$fs-xl;
	}

	&.output-rough {
		font-weight: vars.$fw-bold;
	}
}
