// Spacing
$space-0: 0px;
$space-1: 2px;
$space-2: 4px;
$space-3: 8px;
$space-4: 16px;
$space-5: 32px;
$space-6: 64px;

$spaces: (
	0: $space-0,
	1: $space-1,
	2: $space-2,
	3: $space-3,
	4: $space-4,
	5: $space-5,
	6: $space-6
);

// Colors
$clr-surface-light: hsl(0, 0%, 100%);
$clr-surface-medium: hsl(240, 7%, 92%);
$clr-surface-600: hsl(0, 0%, 15%);
$clr-surface-dark: hsl(0, 0%, 8%);
$clr-border-light: hsl(0, 0%, 84%);
$clr-border-dark: hsl(0, 0%, 15%);

$colors: (
	"surface": (
		"light": $clr-surface-light,
		"medium": $clr-surface-medium,
		"dark": $clr-surface-dark
	),
	"border": (
		"light": $clr-border-light
	)
);

// Typo
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 500;

$fs-sm: 0.75rem;
$fs-regular: 0.875rem;
$fs-lg: 1rem;
$fs-xl: 1.25rem;
