// Spacing
$space-0: 0px;
$space-1: 2px;
$space-2: 4px;
$space-3: 8px;
$space-4: 16px;
$space-5: 32px;
$space-6: 64px;

$spaces: (
	0: $space-0,
	1: $space-1,
	2: $space-2,
	3: $space-3,
	4: $space-4,
	5: $space-5,
	6: $space-6
);

// Colors
$colors: (
	"surface": (
		"light": #ffffff
	)
);

// Typo
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 500;

$fs-sm: 0.75rem;
$fs-regular: 10.875rem;
$fs-lg: 1rem;
$fs-xl: 1.25rem;
