// Spacing
$space-0: 0px;
$space-1: 0.125rem;
$space-2: 0.25rem;
$space-3: 0.5rem;
$space-4: 1rem;
$space-5: 2rem;
$space-6: 4rem;

$spaces: (
	0: $space-0,
	1: $space-1,
	2: $space-2,
	3: $space-3,
	4: $space-4,
	5: $space-5,
	6: $space-6
);

// Breakpoints
$breakpoint-xs: 29.25rem;
$breakpoint-sm: 36rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 62rem;
$breakpoint-xl: 75rem;
$breakpoint-xxl: 100rem;

$breakpoints: (
	"xs": $breakpoint-xs,
	"sm": $breakpoint-sm,
	"md": $breakpoint-md,
	"lg": $breakpoint-lg,
	"xl": $breakpoint-xl,
	"xxl": $breakpoint-xxl
);

// Colors
$hsl-surface-light: 0 0% 100%;
$hsl-surface-medium: 240 7% 92%;
$hsl-surface-500: 0 0% 84%;
$hsl-surface-900: 0 0% 15%;
$hsl-surface-dark: 0 0% 8%;
$hsl-border-light: 0 0% 84%;
$hsl-border-dark: 0 0% 15%;
$clr-surface-light: hsl($hsl-surface-light);
$clr-surface-medium: hsl($hsl-surface-medium);
$clr-surface-500: hsl($hsl-surface-500);
$clr-surface-900: hsl($hsl-surface-900);
$clr-surface-dark: hsl($hsl-surface-dark);
$clr-border-light: hsl($hsl-border-light);
$clr-border-dark: hsl($hsl-border-dark);

$colors: (
	"surface": (
		"light": $clr-surface-light,
		"medium": $clr-surface-medium,
		"dark": $clr-surface-dark
	),
	"border": (
		"light": $clr-border-light
	)
);

// Typo
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 500;

$fs-sm: 0.75rem;
$fs-regular: 0.875rem;
$fs-lg: 1rem;
$fs-xl: 1.25rem;
