@use "./_mixins.scss" as m;

.h3 {
	@include m.h3;
}

i,
em {
	font-style: italic;
}

.text-wrap {
	text-wrap: wrap;
}

.text-wrap-balance {
	text-wrap: balance;
}

.text-center {
	text-align: center;
}

.white-space-pre-line {
	white-space: pre-line;
}

.line-clamp-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
