@use "../../../sass/vars";
@use "../../../sass/utils/mixins" as m;

.buttonbar {
	display: flex;
	column-gap: vars.$space-4;
	background-color: vars.$clr-surface-medium;
	border-top: 1px solid vars.$clr-border-light;
	padding: vars.$space-4 3vw;

	&--narrow {
		padding-block: vars.$space-3;
	}

	&--items-end {
		@include m.justify-end;
	}

	@include m.dark-theme {
		background-color: vars.$clr-surface-900;
		border-top-color: vars.$clr-border-dark;
	}
}
