@use "../../../../../sass/vars";
@use "../../../../../sass/utils/spacing";
@use "../../../../../sass/utils/functions" as fn;

.product-image-list {
	display: flex;
	flex-direction: row;
	gap: vars.$space-4 vars.$space-3;
	flex-wrap: wrap;
	max-width: 100%;
	@include spacing.mb-input();

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: vars.$clr-surface-light;
		box-shadow: 2px 5px 10px vars.$clr-border-light;
	}

	&__img-col {
		position: relative;
		flex: 1;
		min-width: fn.toRem(150);
		max-width: fn.toRem(200);

		&__img {
			object-fit: cover;
			aspect-ratio: 1;
			max-width: 100%;
			height: auto;
		}

		&__action-btn-wrapper {
			position: absolute;
			display: none;
			top: 0;
			right: 0;
		}

		&:hover {
			.product-image-list__img-col__action-btn-wrapper {
				display: block;
			}
		}
	}

	&__filename-col {
		flex: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__sort-order-col {
		> div {
			margin-bottom: 0;
		}
	}

	&__use-as-cover-col {
		> div {
			margin-bottom: 0;
		}
	}
}
