@use "../../sass/utils/mixins" as m;
@use "../../sass/vars";

.note {
	--note-bg-color: hsl(48, 97%, 77%);
	--note-border-focus: hsl(35, 96%, 52%);
	--note-border-width: 2px;

	background-color: var(--note-bg-color);
	min-width: 300px;
	z-index: 1;
	position: absolute;
	color: hsl(0, 0%, 8%);
	animation:
		fadein 300ms forwards ease-in-out,
		scaleup 300ms forwards ease-in-out;
	transform-origin: top right;
	box-shadow: 7px 8px 10px hsl(48, 98%, 46%);

	&:focus-visible {
		outline: var(--note-border-width) solid var(--note-border-focus);
	}

	&:focus-within {
		outline: var(--note-border-width) solid var(--note-border-focus);
	}

	&--fadeout {
		animation:
			fadeout 300ms forwards ease-in-out,
			scaledown 300ms forwards ease-in-out;
	}

	&--drop {
		animation: drop 500ms infinite ease-in;
	}

	> .toolbar {
		@include m.flex;
		@include m.flex-row;
		@include m.justify-between;
		@include m.items-center;
		@include m.px-3;
		font-size: 1rem;
		height: 40px;

		.btn {
			cursor: pointer;
			opacity: 0.5;
			transition: opacity 200ms ease;

			&:hover,
			&:focus,
			&:focus-visible {
				opacity: 1;
			}
		}
	}

	> textarea {
		display: block;
		background-color: var(--note-bg-color);
		width: calc(100% - 1rem);
		margin: 0;
		resize: none;
		color: currentColor;
		font-size: 1rem;
		padding: vars.$space-3;
		margin: vars.$space-3 vars.$space-3 vars.$space-3;
		outline: none;
		border: none;
		box-sizing: border-box;

		&::selection {
			background-color: hsl(31, 97%, 72%);
		}
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeout {
	100% {
		opacity: 0;
	}
}

@keyframes scaleup {
	0% {
		scale: 0;
	}
	100% {
		scale: 1;
	}
}

@keyframes scaledown {
	100% {
		scale: 0;
		top: 0;
		left: 100%;
	}
}

@keyframes drop {
	to {
		transform: translateY(400%);
	}
}
