@use "sass:map";
@use "../vars";

.combined-buttons-container {
	display: flex;
	justify-content: center;
}

.combined-buttons-wrapper {
	flex: 1;
}

.combined-buttons-prompt {
	flex: 1;
	text-align: right;
}

.buttonbar {
	position: sticky;
	bottom: 0;
	display: flex;
	column-gap: vars.$space-4;
	background-color: map.get(vars.$colors, "surface", "medium");
	border-top: 1px solid map.get(vars.$colors, "border", "light");
	padding: vars.$space-4 vars.$space-6;
	margin-inline: calc(vars.$space-6 * -1);
	margin-block-start: vars.$space-5;
}
