@use "../../../../../sass/utils/resets";
@use "../../../../../sass/_vars";

.product-image-upload-list {
	@include resets.reset-list();
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: vars.$space-3;
	margin-block-start: vars.$space-3;

	&__item {
		flex-basis: 9.375rem;

		&--error {
			.product-image-upload-list__img {
				border: 2px solid var(--ant-color-error);
			}

			&:hover {
				.product-image-upload-list__img {
					filter: blur(3px);
				}

				.product-image-upload-list__delete-btn-wrapper {
					display: grid;
					place-items: center;
					position: absolute;
					inset: 0 0 0 0;
				}
			}
		}
	}

	&__img-wrapper {
		position: relative;
	}

	&__delete-btn-wrapper {
		display: none;
	}

	&__img {
		object-fit: cover;
		aspect-ratio: 1;
		max-width: 100%;
		height: auto;
	}
}
