@use "../utils/mixins" as m;

.auth-layout {
	background: rgb(240, 245, 255);
	background: linear-gradient(
		-45deg,
		hsl(347, 77%, 50%) 15%,
		hsl(330, 81%, 60%) 45%,
		hsl(293, 69%, 49%) 75%,
		hsl(243, 75%, 59%) 100%
	);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	> * {
		width: min(100vw, 375px);
	}
}
