@use "../utils/mixins" as m;
@use "../vars";

.auth-layout {
	background: #0e7490;
	background: linear-gradient(-75deg, #67e8f9 10%, #0e7490 75%, #115e59 100%);
	height: 100%;

	.panel {
		@include m.flex;
		@include m.flex-column;
		@include m.row-gap(vars.$space-4);
		background-color: var(--ant-color-bg-container);
		width: min(100vw, 375px);
		height: 100%;

		.logo {
			@include m.pt-5;
			@include m.pb-4;
			@include m.px-5;

			> img {
				max-width: 150px;
			}
		}

		.form {
			@include m.flex-1;
			overflow-y: auto;
		}
	}
}
