@use "../_vars.scss";
@use "../utils/mixins" as m;

.content-layout {
	display: flex;

	.main-content-layout {
		flex-basis: 0;
		flex-grow: 999;
		min-inline-size: 75%;
		background-color: vars.$clr-surface-light;
		border-right: 1px solid vars.$clr-border-light;
		padding: 5vh 3vw;

		@include m.dark-theme {
			background-color: vars.$clr-surface-dark;
			border-right-color: vars.$clr-border-dark;
		}
	}

	.sidebar-content-layout {
		background-color: vars.$clr-surface-light;
		flex-basis: clamp(20ch, 19%, 100%);

		@media (prefers-color-scheme: dark) {
			background-color: vars.$clr-surface-dark;
		}

		.inner-wrapper {
			max-height: 350px;
			overflow-y: auto;
			overscroll-behavior: contain;
		}
	}
}
