@use "../_vars.scss";
@use "../utils/mixins" as m;
@use "../utils/functions" as fn;

.content-layout {
	--_border-color: #{vars.$clr-border-light};

	@include m.dark-theme {
		--_border-color: #{vars.$clr-border-dark};
	}

	display: flex;
	height: calc(100vh - 64px); // 64px is the height of the toolbar at the very top of the page

	.main-content-layout {
		flex-basis: 0;
		flex-grow: 999;
		min-inline-size: 75%;
		padding: 5vh 3vw fn.toRem(100);
		overflow: auto;

		&:has(+ .sidebar-content-layout) {
			border-right: 1px solid var(--_border-color);
		}
	}

	.sidebar-content-layout {
		--_bg-color: #{vars.$clr-surface-light};

		@include m.dark-theme {
			--_bg-color: #{vars.$clr-surface-dark};
		}

		flex-basis: clamp(20ch, 19%, 100%);
		background-color: var(--_bg-color);
		overflow: auto;
		padding-block-end: fn.toRem(30);

		&:has(+ .main-content-layout) {
			border-right: 1px solid var(--_border-color);
		}
	}
}
