@use "sass:map";
@use "../vars";

.main-layout {
	min-height: 100%;

	> header {
		position: sticky;
		top: 0;
		z-index: 1;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 map.get(vars.$spaces, 6);
	}

	> main {
		margin: 0;
		max-height: calc(100% - 64px - 73px);
		overflow: hidden;
	}

	> footer {
		display: flex;
		align-items: end;
	}
}

body:has(> .buttonbar) {
	.main-layout > main {
		margin-bottom: 73px;
	}
}
